
.learn-block_container{
    margin-top: 10.7rem;
    margin-bottom: 17rem;
}

.learn-block__title{
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 4.9rem;
    color: #2B283A;
}

.learn-block__text{
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #797979;
}

.learn__card{
    height: 29.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    position: relative;
}

.learn__card-img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.learn__card__text-block{
    position: absolute;
    padding: 1rem;
}


.learn__card-title{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 3.1rem;
}

.learn__card-text{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #F2F2F2;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 3.1rem;
}

.learn__button{
    width: 50%;
    position: absolute;
    bottom: 0;
    transform: translateY(1.8rem);
}

.learn__points{
    top: 22rem;
    left: 29rem;
    z-index: -1;
}