:root{
    font-size: 10px;
    
}


body{
    margin: 0;
    font-family: 'Roboto';
}



.button{
    height: 4rem;
    background: linear-gradient(90.08deg, #FE6201 0.05%, #ED4B7C 99.92%);
    box-shadow: 0px 4px 4px rgba(254, 98, 1, 0.3);
    border-radius: 2.4rem;
    display: grid;
    justify-items: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid transparent;
    transition: background-color 0.6s ease, color 0.6s ease;
}

.button:hover{
    color:  #FE6201;
    background: transparent;
    border: 1px solid #FE6201;
    text-decoration: none;
}

.points{
    background-image: url('../img/points.svg');
    background-repeat: no-repeat;
    width: 13.5rem;
    height: 13.3rem;
    position: absolute;
    z-index: -2;
}