@import url('css/main.css');
@import url('css/learn.css');
@import url('css/follow.css');
@import url('css/slider__banner.css');
@import url('css/teachers.css');
@import url('css/bottom__banner.css');
@import url('css/footer.css');





.students__carousel-item{
    padding: 7.3rem 7.4rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.students__carousel-inner{
    overflow: visible;
}

.teachers__img{
    height: 22.5rem;
    width: 100%;
    background: url('img/ink.svg') center center no-repeat;
    background-size: contain;
}